<mat-toolbar color="primary" class="mat-elevation-z8 topNav-container">


    <div class="content-container">
        <a (click)="handle_user_click('addUser')" mat-button routerLink="/addUser">Add User</a>
        <a (click)="handle_user_click('user')" mat-button routerLink="/user">User Table</a>
        <a (click)="handle_user_click('winner')" mat-button routerLink="/winner">Winners Table</a>
        <a (click)="handle_user_click('topper')" mat-button routerLink="/topper">Toppers Table</a>
    </div>


</mat-toolbar>
